.centerContents {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.centerContents img.bg-image {
  opacity: 20%;
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  height: 70vh;
}

.listwrapper {
  width: 90%;
}

.ingredientSearch {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.ingredientSearch input {
  background-color: #f2f2f280;
  border-style: none;
}
