.centerContents {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.dude {
  opacity: 20%;
  position: absolute;
  z-index: -1;
  width: 100%;
}

.listwrapper {
  width: 90%;
}

.ingredientSearch {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.ingredientSearch input {
  background-color: #f2f2f280;
  border-style: none;
}

@media only screen and (max-width: 1000px) {
  .dude {
    width: 150%;
    right: 0.5rem;
  }
}
