.centerContents {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.listwrapper {
  width: 90%;
}

.ingredientSearch {
  display: flex;
  justify-content: end;
  margin-bottom: 1rem;
}
