.contentCenter {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.contentWrapper {
  width: 80%;
  font-size: larger;
}

.contentWrapper li {
  height: 3.15rem;
}

.searchWrapper {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: end;
}

.mCEditWrapper {
  display: flex;
  flex-direction: column;
}

.mCEditTitle {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.mCEditInputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 7rem;
  margin-bottom: 1rem;
  transition: all 0.5s ease-in-out;
}
.mCEditInputWrapper input {
  height: 3rem;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.mCEditButtons {
  display: flex;
  justify-content: space-between;
}
.mCNewInputs{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 7rem;
  margin-bottom: 1rem;
  transition: all 0.5s ease-in-out;
}

.mCNewButtons{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
#btnSave {
  background-color: var(--grey);
  color: var(--text-color);
  box-shadow: none;
}

#btnSave:hover {
  background-color: #c0bfbf4f;
}

#btnSave:active {
  background-color: #f5f5f54f;
}

#btnCancel:hover{
    background-color: var(--primary-color-light);
}

@media screen and (min-width: 600px) {
  .mCEditInputWrapper {
    flex-direction: row;
    margin-bottom: -0.5rem;
  }

  .mCEditButtons {
    justify-content: flex-end;
  }

  .mCEditButtons button:first-of-type {
    margin-right: 1rem;
  }
  .mCNewInput{
    flex-direction: row;
    margin-bottom: -0.5rem;
  }
  .mCNewButtons{
    justify-content: flex-end;
  }
  .mCNewButtons button:first-of-type {
    margin-right: 1rem;
  }

}
