.contentCenter {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.contentWrapper {
  width: 80%;
  font-size: larger;
}

.contentWrapper li {
  height: 3.15rem;
}

.searchWrapper {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: end;
}

.mCWrapper {
  color: var();
}
.mCTitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.mCInputWrapper {
  margin-bottom: 1rem;
}

.mCInputWrapper input {
  height: 3rem;
}

.mCInputWrapper input:first-of-type {
  margin-right: 1rem;
}

.mCButtonWrapper {
  width: 55%;
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.mCButtonWrapper button {
  height: 2.5rem;
  margin-bottom: -0.5rem;
}

@media only screen and (max-width: 905px) {
  /* .searchWrapper {
    justify-content: center;
  } */
  .mCWrapper.mCInputWrapper {
      flex-direction: row;
  }
}
