div.password-strength-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 8px;
}

div.sc-password-strength-indicator {
  width: 20%;
  height: 8px;
  background-color: #e0e0e0;
  border-radius: 4px;

  transition: background-color 0.2s ease-in-out;
}

div.sc-filled-red {
  background-color: var(--primary-color);
}

div.sc-filled-yellow {
  background-color: #ffc107;
}

div.sc-filled-green {
  background-color: #28a745;
}
