.fab{
    background-color: var(--primary-color);
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fab img{
    width: 2.5rem;
    height: 2.5rem;
    align-self: center;
}