.liwrapperStock {

  display: flex;
  justify-content: space-between;
  height: 2.5rem;
  align-items: center;
  padding: 0 1rem;
  color: var(--text-color);
}

.liwrapperStock button {
  margin-left: 1rem;
}

.edit{
    width: 1.25rem;
}

.quantitiyaction{
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .liwrapperStock{
        font-size: 1rem;
    }
}