.toggle-switch {
    
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  .toggle-switch input[type="checkbox"] {
    display: none;
  }
  .toggle-switch .switch {
    position: absolute;
    cursor: pointer;
    background-color: #D3D3D3;
    border-radius: 25px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background-color 0.2s ease;
  }
  .toggle-switch .switch::before {
    position: absolute;
    content: "";
    left: 2px;
    top: 2px;
    width: 21px;
    height: 21px;
    background-color: #EB5757;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  .toggle-switch input[type="checkbox"]:checked + .switch::before {
    transform: translateX(25px);
  }
  
  .toggle-switch input[type="checkbox"]:checked + .switch {
    background-color: #D3D3D3;
  }
  .toggle-div{
     position: absolute;
     offset-distance: 100px;
     top: 184px;
     left: 506px;
     display: flex;
     align-items: center;
     
  }
 .toggle-title{
    
    font-weight: 500,Medium;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 29px;
    color: #333333;
    padding: 0 10px;
 }