.wrapper {
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 1.5rem;
}

.user-settings {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.user-settings > h2 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.inputfield {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.inputfield label {
  width: 12rem;
}

.inputfield input {
  width: 25rem;
  background-color: #9f9f9f20;
}

.actions {
  width: 25rem;
  margin-bottom: 2rem;
}

.household-settings {
  margin-top: 1rem;
}

.household-settings > h2 {
  font-size: 1.75rem;
  font-weight: bold;
}

.hs-action {
  display: flex;
  flex-direction: column;
}

.hs-action button {
  height: 60%;
  max-width: 25rem;
}

.bottomBtnContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.logoutBtn {
  width: 20rem;
}

.logoutBtn:hover {
  background-color: var(--primary-color-light);
}

@media only screen and (max-width: 850px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    align-items: center;
  }

  .user-settings {
    flex-direction: column;
    align-items: center;
  }

  .user-settings > h2 {
    font-size: 1.75rem;
  }

  .actions {
    width: 22rem;
  }

  .inputfield {
    flex-direction: column;
  }

  .inputfield input {
    width: 22rem;
  }

  .hs-action {
    flex-direction: column;
  }

  .logoutBtn {
    width: 22rem;
  }
}

.password-strength {
  max-width: 400px;
  margin: 0.75rem 0 0.5rem;
}

.button {
  max-width: 400px;
  width: 100%;
  margin-top: 0.75rem;
}

.button.alternate {
  background-color: #ccc;
  color: #333;
}

.button.alternate:hover {
  background-color: #d5d5d5;
}

.button.alternate:active {
  background-color: #b3b3b3;
}
