.scanWrapper img.bg-image {
  opacity: 20%;
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  height: 70vh;
}

.scanWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  height: calc(100% - 10rem);
  padding: 1rem;
}

.scan {
  margin-top: 2rem;
  /* min-width: calc(360px - 2rem); */
  /* max-width: 50vw; */
  /* max-height: 30vh; */
  background-color: var(--disabled-color);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.results {
  margin-top: 1.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  height: 25vh;
  overflow-y: scroll;
  border-radius: 0.5rem;
  padding: 0;
}

ul.results li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
}

ul.results li:last-child {
  border-bottom: none;
}

.results button {
  width: 1.5rem;
  height: 1.5rem;
}
