.scanWrapper img.bg-image {
  opacity: 20%;
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  height: 70vh;
}

.scanWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  height: calc(100% - 10rem);
}

.scan {
  margin-top: 2rem;
  width: 50vh;
  height: 50vh;
  background-color: var(--disabled-color);
  border-radius: 0.5rem;
}
