nav {
  width: 100%;
  height: 6rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  box-shadow: var(--drop-shadow);
}

.color-primary {
  color: var(--primary-color) !important;
}

div.logo > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;

  color: var(--text-color);
}

div.logo > a > img {
  margin-left: 20px;
  width: 5rem;
  height: 5rem;
}

ul.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-left: 2rem;
  flex: 0.8;
}

ul.links > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;

  font-size: 1.2rem;
  font-weight: 500;

  transition: transform 0.2s ease-in-out;
}

ul.links > li > a {
  color: var(--text-color);
  text-decoration: none;
}

ul.links > li:hover {
  transform: scale(1.1);
  cursor: pointer;
}

ul.links > li.active > a {
  color: var(--primary-color) !important;
  font-weight: 600;
}

@media screen and (max-width: 1500px) {
  .name {
    font-size: 4rem;
    transition: font-size 0.5s ease-in-out;
  }

  .logoImg {
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (min-width: 1500px) {
  .name {
    font-size: 5rem;
    transition: font-size 0.5s ease-in-out;
  }

  .logoImg {
    width: 5rem;
    height: 5rem;
  }
}
