.actions input {
  background-color: #f2f2f280;
  border-style: none;
}

.usersBackground {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.usersBackground img {
  z-index: -1;
  position: absolute;
  margin-top: 30rem;
  opacity: 50%;
}

.contentwrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.actions {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.switchhousehold {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.switchhousehold button:hover {
  color: var(--primary-color);
}

.exit {
  width: 2rem;
  margin-left: 1rem;
}

.mCTitle {
  margin-bottom: 1.5rem;
}

.mCButtons{
    display: flex;
    justify-content: space-between;
}

.mCButtons button{
    width: 8rem;
}
.mcAddContent{
  display: flex;
  
}
.mcInput{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.mCAddButtons{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  
}

.mCAddTitle{
 margin-right: 5rem;
}

#btnLeave {
  background-color: var(--grey);
  color: var(--text-color);
  box-shadow: none;
}

#btnLeave:hover {
  background-color: #c0bfbf4f;
}

#btnLeave:active {
  background-color: #f5f5f54f;
}

@media screen and (min-width: 465px) {
    .mCButtons{
        justify-content: flex-end;
    }
    .mCButtons button:first-of-type{
        margin-right: 1rem;
    }
    .mCAddButtons{
      margin-right: 1rem;
    }
}