.usersBackground{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contentwrapper{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    width: 90%;

}



.actions{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.actions input{
    background-color: #f2f2f280;
    border-style: none;
}